 <%- layout('layouts/main.ejs') %>
 
<div class="slider">
    <ul>
        <li><img style="width: 100%;"src="/img/alina-vilchenko.jpg" alt="alina"></li>
        <li><img style="width: 100%;"src="/img/jonas-androx.jpg" alt="jonas"></li>
        <li><img style="width: 100%;"src="/img/juan-mendez.jpg" alt="juan"></li>
        <li><img style="width: 100%;"src="/img/tubarones-photography.jpg" alt="tubarones"></li>
    </ul>
</div>
 