<%- layout('layouts/main.ejs') %>
</br>
</br>
<h3>Welcome!</h3>
</br>
<div id="contenedor_principal">
    <!--Primera Imagen-->
    <div class="contenedor_imagen_texto">
        <div class="imagen"><img src="img/caMarcas13.jpg"></div>
        <div class="texto">T-Shirts</div>
    </div>
    
    <!--Segunda Imagen-->
    <div class="contenedor_imagen_texto">
        <div class="imagen"><img src="img/tenMarcas1.jpg"></div>
        <div class="texto">Footwear</div>
    </div>
    
    <!--tercera Imagen-->
    <div class="contenedor_imagen_texto">
        <div class="imagen"><img src="img/morMarcas2.jpg"></div>
        <div class="texto">Backpacks</div>
    </div>
</div>